.pokemon-list {
    background-color: white; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 32px 62px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: gray;
    color: black;
    border: 2px solid black;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.navbar {
    margin: 0px 62px;
}
