 
 .pokemon-list {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  columns: 3;
  font-size: 16px;
  margin: auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: darkgoldenrod;
  color: black;
  border: 2px solid black;
}

.modal-container {
  display: block;
}

ul {
  list-style-type: none;
  padding: 5px;
  columns: 3;
  
}

ul li {
  margin-bottom: 8px;
}

.modal-body {
  display: grid;
  align-content: center;
}

.modal-img {
  display: block;
  margin-left: 120px;
}

.modal-header {
  margin: auto;
  align-content: center;
}

